$blue: #1f93ea;
$light-blue: #5CB9FF;
$orange: #FF920B;
$dark: #323334;

$primary-color: $light-blue;

$primary-text-color: #fff;
$regular-text-color: #fff;
$secondary-text-color: #999;
$placeholder-text-color: #666;

$primary-text-active-color: $primary-color;
$primary-text-hover-color: $primary-color;
